.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navbar img{
    height: 80px;
    /* transform: scale(1.05); */
    /* transition: 0.5s; */
}

.navbar img:hover{
    transform: scale(1.05);
    transition: 0.5s;

}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}